{% extends "base.html"%} {% load static %} {% block content %}
<div class="container">

    <a href="/runModel" class="d-block text-center mt-3"><button class="btn btn-primary">Refresh</button></a>

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="tables">
            <div class="mb-5">
                <h2 class="text-center mb-3">Frequent itemsets</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>itemset</th>
                            <th>support</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,s in info %}
                        <tr>
                            <td>{{i}}</td>
                            <td>{{s}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mb-5">
                <h2 class="text-center mb-3">Antecedents and Consequents</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>antecedents</th>
                            <th>consequents</th>
                            <th>lift</th>
                            <th>confidence</th>
                            <th>support</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a,c,s in table2 %}
                        <tr>
                            <td>{{a}}</td>
                            <td>{{c}}</td>
                            <td>{{s.lift}}</td>
                            <td>{{s.confidence}}</td>
                            <td>{{s.support}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
